<ul>
  <% @bookmarks.each do |bookmark| %>
  <li class="bookmark" id="bookmark-<%= bookmark.id %>"><a href="<%= bookmark.url %>"><%= bookmark.title %></a>
    <form action="/bookmarks/<%= bookmark.id %>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button type="submit">Delete</button>
    </form>

    <form action="/bookmarks/<%= bookmark.id %>/update" method="GET">
      <button type="submit">Update</button>
    </form>

    <ul>
      <% bookmark.comments.each do |comment| %>
      <li><%= comment %> </li>
      <%end%>
    </ul>


  </li>
  <% end %>
</ul>
<form action="/bookmarks/create"> <button type="submit">Create
    Bookmark</a>
</form>