<h1>
  <a href="<%= @bookmark.url %>"><%= @bookmark.title %></a>
</h1>
<form action="/bookmarks/<%= @bookmark.id %>/tags" method="POST">
  <input type="hidden" name="_method" value="put">
  <fieldset>
    <legend>Pick your tags</legend>

    <label>
      <!-- value is on by default -->
      <% @tags.each do |tag| %>
      <input type="checkbox" name="tag<%= tag.id %>" value="<%= tag.id %>"
        <%= @bookmark.tags.include?(tag) ? "checked" : "" %>><%= tag.content %></label> <br />
    <% end %>

  </fieldset>
  <button type="submit">Edit Tags</a>
</form>